@font-face {
  font-family: 'Avenir LT Std';
  src: local('Avenir-LT-Std'), url(./fonts/Avenir-LT-Std.otf) format('opentype');
}
@font-face {
  font-family: 'Gill Sans MT';
  src: local('Gill-Sans-MT'), url(./fonts/Gill-Sans-MT.TTF) format('truetype');
}

body {
  margin: 0;
  background-color: #FDF8F4;
  font-family: 'Avenir LT Std', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;